<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Head partial -->
  <%- include ./partials/head %>

</head>
<body>
  <!-- NavBar partial -->
  <%- include ./partials/navbar %>

  <%- body -%>
  
  <div id="h_line" class="center-block"></div>

  <!-- Footer partial -->
  <%- include ./partials/footer %>

  <!-- javascript imports -->
  <%- include ./partials/javascripts %>

</body>
</html>
