<% layout('main') -%>
<div id="page_title">
  <h1>Eyeliners</h1>
</div>

<div id="eyeliners">
  <div id="eyeliners_background"></div>
  <div class="container-fluid">
    <div id="h_line" class="center-block"></div>
    
    <h2><%= data.seminars[3].title %></h2>
    <h4><%= data.seminars[3].type %> - <%= data.seminars[3].length %></h4>
    <p><%= data.seminars[3].description %></p>
    <div class="row">
      <img src='<%= data.seminars[3].img_url%>' alt="image">
    </div>
    <p><%= data.seminars[3].additional_info %></p>
    <div id="benefits">
      <p>
        <span><%= data.seminars[3].model %></span>
        <br>
        <%= data.seminars[3].model_details %>
      </p>
      <p>
        <span><%= data.seminars[3].starter_kit %></span>
        <br>
        <%= data.seminars[3].starter_kit_details %>
      </p>
      <p>
        <span><%= data.seminars[3].benefits %></span>
        <br>
        <%= data.seminars[3].benefits_details %>
      </p>
      <h3>Fee: $<%= data.seminars[3].fee %></h3>

      <a href="/register" class="btn btn-default center-block"> Get More Info </a>
    </div>
  </div>
</div>
