<% layout('main') -%>
<div id="page_title">
  <h1>Seminars</h1>
</div>

<div id="seminars">
  <div id="index-top">
    <h3>Microblading The #1 Beauty Trends In 2017 - SELF</h3>
    <h4>It's never too late to learn something New!</h4>
  </div>
  <div class="container-fluid">
    <% data.seminars.forEach((el) => { %>
      <div class="row">
          <div id="image_container" class="col-xs-18 col-sm-6 col-md-7">
            <a href='<%= el.url %>'>
              <img src='<%= el.img_url%>' alt="image">
            </a>
          </div>
          <div id="seminar_container" class="col-xs-18 col-sm-6 col-md-5">
            <h3><%= el.title %></h3>
            <p><%= el.description %></p>
            <a href='<%= el.url %>'>FOR MORE INFO <span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
      </div>
    <% }) %>

  </div>
</div>
